<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}


    <!-- hat tip to Jeff for this home page link idea -->
    <div>
        <P><a href="/">Home Page</a></p>
    </div>
  </body>
</html>
